<div class="site">
	
	<nav class="nav">
		<div class="nav__title">
      CarBnb
    </div>
		<ul class="nav__list">
      <li class="nav__item"> <%= link_to "home", root_path %> </li>
      <li class="nav__item"> <%= link_to "Dashboard", dashboard_path %> </li>
			<li class="nav__item" > <% if user_signed_in? %>
          <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete %>
          <%= image_tag "https://api.iconify.design/emojione-monotone/person-bowing.svg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= link_to "Me connecter", new_user_session_path %>
        <% end %>
      </li>
		</ul>
	</nav>
</div>