<div class="container">
  <h1>My dashboard</h1>
  <h2>My reservations</h2>
  <div>
    <% @bookings.each do |booking| %>
      <h1><%= booking.car.brand %>
      <%= booking.car.model %></h1>
      <p><%= booking.start_date %></p>
      <p><%= booking.end_date %></p>
      <p><%= booking.total_price %>€</p>
      <%= link_to "Cancel", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } %>
      <%= link_to "Home", cars_path %>
    <% end %>
  </div>
</div>